body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1, h2, h3, p{
    color: #fff;
    text-align: center;
}

#links {
    width: 50%;
    margin: 0 auto;
    color: #fff;
}

.media {
    position: relative;
    margin: auto;
    display: block;
}

footer {
    background-color: #555;
    position: absolute;
    height: 50px;
    width: 99.6%;
    bottom: 100;
}

a:link {
    color: lightblue;
}

a:hover {
    color: blueviolet;
}

a:visited {
    color: lightpink;
}